---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogCategoryRobots, getStaticPathsBlogCategory } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogListCustom from '~/components/blog/ListCustom.astro';
import Headline from '~/components/blog/Headline.astro';
import Button from '~/components/ui/Button.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogCategory({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: string };

const { page, category } = Astro.props as Props;

//const currentPage = page.currentPage ?? 1;
let pageTitle;
switch (category) {
  case 'graphic-design': pageTitle = 'Graphic Design';break;
  case 'ui-ux' : pageTitle = 'UI UX'; break;
  default: pageTitle = category.toUpperCase();break;
}

const metadata = {
  title: `Portfolio - ${pageTitle}`,
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 pt-12 sm:pt-16 lg:pt-20 mx-auto max-w-4xl">
    <!-- Flex - space between -->
    <div>{category === "graphic-design" ? ( 
      <Headline class="flex justify-between">
        <Fragment slot="default" class="color-red">Graphic Design</Fragment>
        <Fragment slot='button'><Button variant="secondary" href="https://www.behance.net/andypoplas" target="_blank" icon="tabler:brand-behance" class="flex-row-reverse" iconClass="mr-1 ml-0">Behance</Button></Fragment>
      </Headline>
    ) : category === 'ui-ux' ? (
      <Headline class="flex justify-between">
        <Fragment slot="default" class="color-red">UI-UX Design</Fragment>
        <Fragment slot='button'><Button variant="secondary" href="https://www.behance.net/andypoplas" target="_blank" icon="tabler:brand-behance" class="flex-row-reverse" iconClass="mr-1 ml-0">Behance</Button></Fragment>
      </Headline>
    ) : (
      <Headline class="uppercase">{category.replaceAll('-', ' ')}</Headline>
    )}
    </div>
    
  </section>
  <!-- <div class="flex flex-col mx-auto lg:justify-between lg:flex-row max-w-7xl px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default">
    <div class="grid gap-2 row-gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 -mb-6">-->
      <BlogListCustom posts={page.data} />

    <!-- </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </div>-->
</Layout>
